{% extends 'layouts/Layout.html.twig' %}

{% block title %}Home{% endblock %}
{% block description %}This is the home page.{% endblock %}
{% block canonical %}{{ router.route('home.index') }}{% endblock %}
{% block keywords %}home, index, homepage{% endblock %}
{% block jsonld %}
    <!-- JSON-LD example -->
    <script type="application/ld+json">
        {
            "@context": "https://schema.org",
            "@type": "Organization",
            "url": "http://www.example.com",
            "name": "Unlimited Ball Bearings Corp.",
        }
    </script>
{% endblock %}

{% block content %}
    <h1>This is the home page</h1>
{% endblock %}

{% block footer %}
    {{ parent() }}
    <p>Home page's footer</p>
{% endblock %}