{% extends 'layouts/Layout.html.twig' %}

{% block seo %}
    {{ seo | raw }}
{% endblock %}

{% block jsonld %}
    <!-- JSON-LD example -->
    <script type="application/ld+json">
        {
            "@context": "https://schema.org",
            "@type": "Organization",
            "url": "http://www.example.com",
            "name": "Unlimited Ball Bearings Corp.",
        }
    </script>
{% endblock %}

{% block content %}
    <h1>This is the home page</h1>
{% endblock %}

{% block footer %}
    {{ parent() }}
    <p>Home page's footer</p>
{% endblock %}