* {
	margin: 0;
	padding: 0;
}

body {
	width: 100%;
}

header, main {
	float: left;
	width: 100%;
	margin-bottom: 20px;
}

nav {
	float: left;
	width: 100%;
	background-color: black;
	text-align: center;
}

nav a {
	text-decoration: none;
	color: white;
	line-height: 30px;
}

footer {
	width: 100%;
	height: 100px;
	background-color: black;
	color: white;
	font-weight: bold;
	text-align: center;
}