{% extends 'Layout.html.twig' %}

{% block title %}Home{% endblock %}
{% block author %}Author Name{% endblock %}
{% block description %}Page description.{% endblock %}
{% block keywords %}keywords{% endblock %}

{% block content %}
    <h1>This is the home page</h1>
{% endblock %}

{% block footer %}
    {{ parent() }}
    <p>Home page's footer</p>
{% endblock %}