<!DOCTYPE html>
<html lang="pt">
<head>
    {% block head %}
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="author" content="{% block author %}{% endblock %}">
        <meta name="description" content="{% block description %}{% endblock %}">
        <meta name="keywords" content="{% block keywords %}{% endblock %}">
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="{{ DIRCSS }}style.css">
    {% endblock %}
</head>
<body>
    <br>
    <nav>
        <a href="{{ DIRPAGE }}">Home</a>
    </nav>

    <hr>

    <header>
        {% block header %}
            <p>Tel: (48) 99999-9999</p>
        {% endblock %}
    </header>
    
    <hr>

    <nav>
        {{ breadcrumb() }}
    </nav>

    <hr>

    <main>
        {% block content %}
        {% endblock %}
    </main>

    <hr>	

    <footer>
        {% block footer %}
            <p>2019 - Copyright</p>
        {% endblock %}
    </footer>

    {% block js %}
    {% endblock %}
</body>
</html>